.navbar {
    position: sticky;
    top: 0%;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    background-color: white;
    z-index: 1000;
}

a .web_logo {
    bottom: auto;
    box-shadow: inset 4px 4px 44px rgba(96, 96, 96, 0.15);
}

.list {
    display: flex;
    align-items: center;
    margin: 0% auto;
    gap: 50px;
    justify-content: center;
}

.connect_btn {
    width: 117px;
    height: 40px;
    top: 15px;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu {
    display: none;
}

.this {
    display: none;
}

@media screen and (max-width: 1023px) {
    .navbar {
        padding: 30px 50px;
        height: 60px;
    }
    
    a .web_logo {
        width: 180px;
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        padding: 30px;
    }

    a .web_logo {
        width: 200px;
    }
    
    .list {
        position: absolute;
        width: 100%;
        height: 100vh;
        bottom: 0%;
        left: -100%;
        padding: 50px;
        top: 48px;
        gap: 20px;
        background-color: white;
        flex-direction: column;
        align-items: center;
        transition: 0.5s all ease;
        margin: 0%;
        justify-content: flex-start;
    }
    
    .list li {
        margin: 0%;
        margin-bottom: 20px;
    }
    
    .connect_btn {
        display: none;
    }

    .this {
        display: block;
        font-size: 14px;
    }

    .menu {
        position: absolute;
        right: 30px;
        display: flex;
    }
}

@media screen and (max-width: 540px) {
    .navbar {
        padding: 20px 30px;
    }
    
    a .web_logo {
        width: 140px;
        box-shadow: inset 4px 4px 44px rgba(96, 96, 96, 0.15);
    }
}